.description {
  display: flex;
  margin: 100px auto;
  width: 80%;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  max-width: 175px;
}

.two-columns__brief-text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
