.digits {
  margin-bottom: 100px;
}

.digits-header {
  width: 60%;
  margin: auto;
}

.section-title {
  text-align: center;
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  z-index: 1;
}

.section-subtitle {
  text-align: center;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
}

.table {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  padding: 0;
}

.table__cell {
  width: 250px;
  list-style-type: none;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  list-style-type: none;
  z-index: 1;
}

.digits-header_theme_dark {
  position: relative;
  z-index: 1;
}

.section-title_theme_dark {
  color: #fff;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: #fff;
}

.table_theme_dark {
  z-index: 1;
}
