.feynman {
  background-color: #f2f2f2;
  min-height: 790px;
  position: relative;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  padding: 2px;
  margin-bottom: 100px;
}

.feynman__content {
  max-width: 775px;
  text-align: center;
  margin: auto;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-bottom: 70px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.faynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
}
