.footer {
  padding: 60px 0 40px 0;
  background-color: #000;
}

.footer__columns {
  min-height: 350px;
  color: #fff;
  display: flex;
  margin: auto;
  width: 90%;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  position: relative;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer__column_content_about {
  margin-left: auto;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color: #fff;
  text-decoration: none;
}

.footer__column_content_social {
  margin-left: auto;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
