.techniques {
  margin: 0 auto;
}
.cards {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  padding: 0;
}

.cards__item:nth-of-type(3n) {
  margin-right: 0;
}

.cards__item {
  width: 225px;
  margin-right: 100px;
  text-align: center;
  list-style-type: none;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;
  border-radius: 50%;
}

.cards__title {
  margin: 0 0 16px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.cards__subtitle {
  margin: 0 0 16px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}
