.page {
  min-width: 1100px;
  /* Todavía no sabemos cómo hacer versiones de páginas web para móviles, así que
     hemos establecido un mínimo para el ancho de la página */
  max-width: 1600px;
  /* Aquí hemos establecido un máximo para el ancho de la página */
  margin: 0 auto;
  /* esto garantiza que todo el contenido esté centrado en pantallas de más de 1600 px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  /* Parámetros para la sección del encabezado */
}

.logo {
  width: 154px;
  height: 31px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  max-width: 730px;
  margin: auto 0 auto 64px;
  z-index: 1;
}

.header__content {
  max-width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 1;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__main-illustration {
  max-width: 756px;
  max-height: 600px;
}

.header__square {
  position: absolute;
  top: 64px;
  right: 0;
}
/* Aquí tenemos dos ejemplos de selectores para 
recordarte cómo configurar los estilos de los elementos*/
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.description {
  display: flex;
  margin: 100px auto;
  width: 80%;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  max-width: 175px;
}

.two-columns__brief-text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin-bottom: 100px;
}

.digits-header {
  width: 60%;
  margin: auto;
}

.section-title {
  text-align: center;
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  z-index: 1;
}

.section-subtitle {
  text-align: center;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
}

.table {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  padding: 0;
}

.table__cell {
  width: 250px;
  list-style-type: none;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  list-style-type: none;
  z-index: 1;
}

.digits-header_theme_dark {
  position: relative;
  z-index: 1;
}

.section-title_theme_dark {
  color: #fff;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: #fff;
}

.table_theme_dark {
  z-index: 1;
}

.feynman {
  min-height: 790px;
  position: relative;
}

.feynman__content {
  max-width: 775px;
  text-align: center;
  z-index: 1;
  margin: auto;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-bottom: 70px;
  z-index: 1;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.faynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 1;
  color: #2f80ed;
}

.feynman__image {
  max-width: 867px;
  max-height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.kaufman {
  background-color: #000;
  position: relative;
  overflow: hidden;
  padding: 90px 0 90px 0;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -124px;
  z-index: 0;
}

.footer {
  padding: 60px 0 40px 0;
  background-color: #000;
}

.footer__columns {
  min-height: 350px;
  color: #fff;
  display: flex;
  margin: auto;
  width: 90%;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  position: relative;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer__column_content_about {
  margin-left: auto;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.footer__column_content_social {
  margin-left: auto;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
